.carousel-wrapper{
    margin-left: 68px;
    margin-top: 14px;
    @media only screen and (max-width: 768px) {
        margin-left: 17px;
      }
      @media only screen and (max-width:576px){
        margin-top: 0px;
    }
}
.carousel-wrapper-story{
    margin-left: 68px;
    margin-top: 14px !important;
    @media only screen and (max-width: 768px) {
        margin-left: 17px;
      }
    .alice-carousel__wrapper{
        height: 410px !important;
        .alice-carousel__stage-item{
            max-width: 241px !important;
        }
    }

}