.player.right-content-area-supported>.content-area-sibling-enabled .vp-preview-cover {
    border-radius: 4px !important;
    box-shadow: 0px 4px 4px 0px #00000040 !important;
}

.Video-player-class video{
    border-radius: 4px !important;
    box-shadow: 0px 4px 4px 0px #00000040 !important;
}
.player.right-content-area-supported {
    overflow: hidden;
    border-radius: 10px !important;
}
