.card-story{
width: 241px;
padding-right: 10px;

}
.card {
    width: 375px;
    padding-right: 10px;
    @media only screen and (max-width: 576px) {
      width: 300px !important;
    }
  }
  @keyframes placeholderShimmer {
    0% {
      background-position: -468px 0;
    }
  
    100% {
      background-position: 468px 0;
    }
  }
  
  .shimmer-animation {
    background-color: #f6f7f8;
    background-image: linear-gradient(
      to right,
      #f6f7f8 0%,
      #edeef1 20%,
      #f6f7f8 40%,
      #f6f7f8 100%
    );
    background-repeat: no-repeat;
    background-size: 800px 104px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
  }
  
  .loader-shimmer-banner{
        height: 205px;
        background-size: 800px 205px;
        border-radius: 5px;
        margin-bottom: 12px;
        @media only screen and (max-width: 576px) {
          height: 180px !important;
        }
      }
  .loader-shimmer-banner-story{
        height: 410px;
        background-size: 800px 410px;
        border-radius: 5px;
        margin-bottom: 12px;
      }